.font-color {
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    color: grey;
}

.font-dot {
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    color: darkblue;
}

/* unvisited link */
a:link {
  color: darkgreen;
}

/* visited link */
a:visited {
  color: #C01114
}

/* mouse over link */
a:hover {
  color: darkcyan;
}

/* selected link */
a:active {
  color: #C011aa;
}
