/*-- scss:rules --*/

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 10px !important;
  right: 30px !important;
  max-height: 15% !important;
  height: 8% !important;
  width: 8% !important;
  color: $body-color !important;
}
